<div class="header">
  <mat-card [formGroup]="form" class="header-content">
    <span>Batch history </span>
    <mat-form-field appearance="fill">
      <mat-label>List of Batch</mat-label>
      <mat-select formControlName="name" (selectionChange)="loadJobHistory()">
        <mat-option *ngFor="let job of jobs" [value]="job.name">
          {{job.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button [routerLink]="['/jobs/new', slectedJob]" mat-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card>
</div>
<div class="table-container">
  <mat-card class="card">
    <mat-card class="item head">
      <span>Id</span>
      <span>Date</span>
      <span>Successfully rows</span>
      <span>Ignored rows</span>
      <span>Status</span>
    </mat-card>
    <mat-card *ngFor="let line of historyLines" class="item row">
      <span>{{line.jobInstance.id}}</span>
      <span>{{line.createTime|date}}</span>
      <span>{{line.stepExecutions[0].readCount}}</span>
      <span>{{line.stepExecutions[0].processSkipCount}}</span>
      <span>{{line.status}}</span>
    </mat-card>

    <mat-card *ngIf="historyLines.length===0" class="item empty">
      <span>Non history !</span>
    </mat-card>
  </mat-card>
</div>
