<div class="header">
  <mat-card class="header-content">
    <span>Batch history </span>
  </mat-card>
</div>
<div class="table-container">
  <mat-card class="card">
    <mat-card class="item head">
      <span>Id</span>
      <span>Date</span>
      <span>Number of traited rows</span>
      <span>Number of ignored rows</span>
      <span>Status</span>
    </mat-card>
    <mat-card class="item row">
      <span>01</span>
      <span>20-02-2021</span>
      <span>21</span>
      <span>02</span>
      <span>COMPLETED</span>
    </mat-card>
    <mat-card class="item empty">
      <span>Non history !</span>
    </mat-card>
  </mat-card>
</div>
